<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Weather App</title>
</head>
<body>
    <form action="/" method="POST">
        <div class="container">
            <div class="title">
                <a href="/">
                    <h1>Weather App</h1>
                </a>
            </div>
            <div class="search">
                <input type="text" name="cityName" autocomplete="off" placeholder="Search City">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>    
            </div>
        </div>
    </form>
    <div class="card">
        <div class="aboutTitle">
            <h1>Weather App</h1>
            <p><span>"</span> A Weather app project is a simple way of displaying the Current Weather of any Cities. The weather reports are displayed using <a href="https://openweathermap.org/current" target="_blank">Open Weather Map API</a>. This project is a simple implementation of API. This project gives a basic idea about API.<span> "</span></p>
        </div>
        <div class="aboutSection">
            <h1>About Me</h1>
            <p><span>"</span> My name is <a href="#">Joe Felix</a>. I am currently learning Web Development.  So I decided to make a simple weather app to display the Current Weather.<span>"</span></p>
            <p>Happy Coding!!!!</p>
        </div>
    </div>
<%- include('partials/footer.ejs') %> 